html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------primary header------------------*/

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}

.logo{
    color: #EAD7D7;
    text-align: center;
    padding-bottom: 3rem;
    font-size: 110px;
}



/*--------------primary footer------------------*/
.primary-footer{
    text-align: center;
    margin: 0 auto ;
    padding-bottom: ;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

/*--------------list------------------*/
.list {
    font-size: 40px;
    margin-left: 15rem ;
}

.list ul{
    list-style-type: circle;
}


.input-todo {
    font-size: 20px;
    opacity: .3;
    background-color: #FEFEFE;
    margin-left: 15rem;
    text-align: center;
    height: 60px ;
    width: 30rem;
}